* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      rgba(42, 70, 66, 0.8)
    ),
    url('./images/lib-1.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.logo .link:link {
  font-size: 24px;
  text-transform: uppercase;
}

span {
  color: red;
}

ul {
  display: flex;
}

li {
  padding: 0 20px;
}

li:last-child {
  padding-right: 0;
}

.link:link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.25s all;
}

.link:link:hover {
  color: rgb(79, 219, 196);
}

.link:link.active {
  color: rgb(79, 219, 196);
}

.content {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.text h2 {
  font-size: 42px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.text h3 {
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.text p {
  margin-bottom: 24px;
  font-weight: 300;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background-color: #f31212;

  font-size: 14px;
}

button:hover {
  background-color: red;
}
